@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

:root {
  --first-blue: #1B71B3;
  --secondary-blue: #2A9DDB;
  --third-blue: #e0f6ff;
  --first-green: #ADEB4A;
  --secondary-green: #E0F0B2;

  --tiny-font-size: 1.2rem;
  --small-font-size: 1.4rem;
  --medium-font-size: 1.6rem;
  --large-font-size: 3rem;
  --super-large-font-size: 4.2rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

* input:focus {
  outline: 1.2px solid var(--first-blue);
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/* ---------- all pages ---------- */
.container {
  width: 75%;
  margin: 0 auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  position: relative;
}

.circle-1 {
  width: 300px;
  height: 300px;
  background-color: var(--first-blue);
  border-radius: 100%;
  position: absolute;
  left: -200px;
  bottom: 0;
}

.circle-2 {
  width: 200px;
  height: 200px;
  background-color: var(--first-green);
  border-radius: 100%;
  position: absolute;
  right: -50px;
  top: -100px;
}

/* ---------- home ---------- */
.home__menus {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.home__list {
  font-size: var(--tiny-font-size);
  color: var(--first-blue);
  display: block;
  line-height: 40px;
  font-weight: 400;
}

.home__list:hover {
  text-decoration: underline;
}

.logo {
  height: 40px;
}

.btn-account {
  display: flex;
  gap: 1rem;
}

.btn-secondary {
  font-weight: bold;
  border: 1px solid var(--first-blue);
  border-radius: 10px;
  height: 40px;
  text-align: center;
  padding: 0 1rem;
  line-height: 40px;
  color: var(--first-blue);
  font-size: var(--tiny-font-size);
}

.btn-secondary:hover {
  text-decoration: none;
}

.btn-primary {
  font-weight: bold;
  color: white;
  background-image: linear-gradient(135deg, var(--first-blue) 40%, var(--secondary-blue));
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
}

.btn-primary:hover {
  transition: all 0.2s;
  background-image: linear-gradient(135deg, var(--secondary-blue) 40%, var(--secondary-blue));
}

.btn-secondary:hover,
.btn-primary:hover {
  text-decoration: none;
}

.home__content {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.home__intro {
  width: 450px;
  padding-top: 3rem;
}

.home__title {
  font-size: var(--super-large-font-size);
  color: var(--first-blue);
  font-weight: 800;
  line-height: 4.2rem;
  margin-bottom: 1rem;
}

.home__gifttext {
  font-size: var(--medium-font-size);
  margin-bottom: 2.4rem;
}

.btn-ordernow {
  align-items: center;
  background-image: linear-gradient(135deg, var(--first-blue) 40%, var(--secondary-blue));
  border: 0;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 52px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  width: 150px;
}

.btn-ordernow:active {
  outline: 0;
}

.btn-ordernow:hover {
  outline: 0;
  background-image: linear-gradient(135deg, var(--secondary-blue) 40%, var(--secondary-blue));
}

.btn-ordernow span {
  transition: all 200ms;
}

.btn-ordernow:hover span {
  transform: scale(.9);
  opacity: .75;
}

.right-arrow {
  margin-left: 1rem;
  color: white;
}

.home__image {
  padding-right: 1rem;
}

/* ---------- login ---------- */
.login__content {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

.login__texts {
  width: 450px;
  padding-top: 3rem;
}

.login__title {
  font-size: var(--super-large-font-size);
  color: var(--first-blue);
  font-weight: 800;
  line-height: 4.2rem;
  margin-bottom: 1rem;
}

.login__signup {
  font-size: var(--medium-font-size);
}

.login__signup-text {
  margin-right: 0.2rem;
}

.login__signup-btn {
  color: var(--first-blue);
}

.login__signup-btn:hover {
  text-decoration: underline;
}

.login__form {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}

.login__input {
  width: 500px;
}

.login__input-label {
  display: block;
  font-size: var(--medium-font-size);
  color: var(--first-blue);
  margin-bottom: 0.5rem;
}

.login__input-field {
  display: block;
  width: 100%;
  height: 52px;
  font-size: var(--small-font-size);
  margin-bottom: 1.2rem;
  padding: 0 1rem;
  border-radius: 10px;
  border: 1px solid var(--first-blue);
  line-height: 52px;
}

.login__input-btn {
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(135deg, var(--first-blue) 40%, var(--secondary-blue));
  width: 100%;
  height: 52px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-size: var(--small-font-size);
}

.login__input-btn:hover {
  background-image: linear-gradient(135deg, var(--secondary-blue) 40%, var(--secondary-blue));
}

/* ---------- sign up ---------- */
.signup__content {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.signup__texts {
  width: 450px;
  padding-top: 8rem;
}

.signup__title {
  font-size: var(--super-large-font-size);
  color: var(--first-blue);
  font-weight: 800;
  line-height: 4.2rem;
  margin-bottom: 1rem;
}

.signup__login {
  font-size: var(--medium-font-size);
}

.signup__login-text {
  margin-right: 0.2rem;
}

.signup__login-btn {
  color: var(--first-blue);
}

.signup__login-btn:hover {
  text-decoration: underline;
}

.signup__form {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}

.signup__input {
  width: 500px;
}

.signup__input-label {
  display: block;
  font-size: var(--medium-font-size);
  color: var(--first-blue);
  margin-bottom: 0.5rem;
}

.signup__input-field {
  display: block;
  width: 100%;
  height: 52px;
  font-size: var(--small-font-size);
  margin-bottom: 1.2rem;
  padding: 0 1rem;
  border-radius: 10px;
  border: 1px solid var(--first-blue);
}

.signup__input-btn {
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(135deg, var(--first-blue) 40%, var(--secondary-blue));
  width: 100%;
  height: 52px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-size: var(--small-font-size);
}

.login__input-btn:hover {
  background-image: linear-gradient(135deg, var(--secondary-blue) 40%, var(--secondary-blue));
}

/* ---------- create account ---------- */
.create-account__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15rem;
}

.create-account__title {
  font-size: var(--large-font-size);
  color: var(--first-blue);
  font-weight: 800;
  line-height: 4.2rem;
  margin-bottom: 1rem;
}

.create-account__btn {
  font-size: var(--small-font-size);
  height: 52px;
  width: 200px;
  line-height: 52px;
}

/* ---------- index ---------- */
.profile-btn {
  width: 40px;
  height: 40px;
  background-color: var(--first-blue);
  border-radius: 50px;
}

.index__menus {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.index__list {
  display: flex;
  align-items: center;
  font-size: var(--tiny-font-size);
  color: var(--first-blue);
  line-height: 40px;
  font-weight: 400;
}

.index__list:hover {
  text-decoration: underline;
}

.order-btn {
  color: var(--first-blue);
  font-size: 24px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  transition: .3s;
  margin-right: 1rem;
}

.order-btn:hover {
  background-color: var(--third-blue);
}

.profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 80px;
  background-color: white;
  border: 1px solid var(--first-blue);
  padding: 1rem;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  z-index: 1;
}

.dropdown-lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: var(--tiny-font-size);
}

.dropdown-list {
  margin-bottom: 0.6rem;
}

.dropdown-link {
  color: var(--first-blue);
}

.dropdown-link:hover {
  text-decoration: underline;
}

.active-dropdown {
  visibility: visible;
  opacity: 1;
}

.line {
  border-bottom: 1px solid var(--first-blue);
  margin-bottom: 0.6rem;
  opacity: 0.5;
}

.index__content {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.index__greeting {
  color: var(--first-green);
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
  text-align: center;
}

.index__title {
  font-size: 2.5rem;
  color: var(--first-blue);
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
}

.index__cards {
  display: flex;
  gap: 2rem;
  padding: 0 6rem;
}

.index__card {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--first-blue);
  margin-bottom: 1rem;
  border: 2px solid var(--first-blue);
}

.index__card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.index__card-img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.index__card-title {
  font-size: 2rem;
  color: var(--first-blue);
}

.index__card-desc {
  color: black;
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
}

.index__card-price {
  color: var(--first-blue);
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
}

.index__card-disclaimer {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.4rem;
  color: var(--first-blue);
  opacity: 0.8;
}

.index__card-order {
  align-items: center;
  background-image: linear-gradient(135deg, var(--first-blue) 40%, var(--secondary-blue));
  border: 0;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 52px;
  line-height: 52px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  width: 150px;
}

.index__card-order:active {
  outline: 0;
}

.index__card-order:hover {
  outline: 0;
  background-image: linear-gradient(135deg, var(--secondary-blue) 40%, var(--secondary-blue));
}

.index__card-order span {
  transition: all 200ms;
}

.index__card-order:hover span {
  transform: scale(.9);
  opacity: .75;
}

/* ---------- order ---------- */
.btn-back {
  font-size: 2rem;
  color: var(--first-blue);
  margin-right: 1.5rem;
  line-height: 2rem;
  position: relative;
  bottom: 5px;
}

.order__content {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order__type {
  font-size: var(--medium-font-size);
  color: var(--first-blue);
  text-align: center;
}

.order__desc {
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
  text-align: center;
}

.order__disclaimer {
  font-size: var(--tiny-font-size);
  color: red;
  opacity: 0.8;
  margin-bottom: 1rem;
  width: 60%;
  text-align: center;
}

.order__input {
  width: 500px;
  margin-bottom: 1.2rem;
}

.order__input-label {
  display: block;
  font-size: var(--medium-font-size);
  color: var(--first-blue);
  margin-bottom: 0.5rem;
}

.order__input-field {
  display: flex;
  width: 100%;
  height: 52px;
  font-size: var(--small-font-size);
  padding: 0 1rem;
  border-radius: 10px;
  border: 1px solid var(--first-blue);
  align-items: center;
}

.order__input-upload {
  display: block;
  height: 100%;
  font-size: var(--small-font-size);
  background: linear-gradient(135deg, var(--first-blue) 40%, var(--secondary-blue));
  color: white;
  border-radius: 10px;
  line-height: 52px;
  width: 25%;
  margin-left: -1rem;
  text-align: center;
  cursor: pointer;
}

.order__input-upload:hover {
  background: var(--secondary-blue);
}

.order__upload-filename {
  line-height: 52px;
  padding-left: 1rem;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.btn-hidden {
  opacity: 0;
  position: absolute;
  top: 100px;
  z-index: -1;
  width: 200px;
}

#final_price, #order_type {
  opacity: 0;
  position: absolute;
  top: 100px;
  z-index: -1;
  width: 200px;
}

.order__input-adddesc {
  font-size: var(--tiny-font-size);
  color: black;
  opacity: 0.5;
}

.order__checkbox {
  height: 20px;
  width: 20px;
}

.order__checkbox-label {
  font-size: var(--tiny-font-size);
  margin-right: 1rem;
  user-select: none;
  position: relative;
  bottom: 2px;
}

.order_submit {
  background: linear-gradient(135deg, var(--first-blue) 40%, var(--secondary-blue));
  color: white;
  justify-content: center;
  cursor: pointer;
}

.order_submit:hover {
  background: linear-gradient(135deg, var(--secondary-blue) 40%, var(--secondary-blue));
}

/* ---------- orderlist ---------- */
.orderlist__content {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.orderlist__title {
  color: var(--first-blue);
  margin-bottom: 2rem;
}

.orderlist__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.orderlist__card {
  border: 1px solid var(--first-blue);
  border-radius: 10px;
  padding: 1rem;
  width: 22%;
}

.orderlist__card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.orderlist__card-info {
  position: relative;
}

.orderlist__card-title {
  color: var(--first-blue);
  font-size: var(--medium-font-size);
}

.orderlist__card-moreinfo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.orderlist__card-onprogress {
  background-color: lightgrey;
  padding: 0.2rem;
  border-radius: 10px;
  color: rgb(119, 117, 117);
}

.btn-download {
  font-size: 1.2rem;
  padding: 0.2rem;
  border-radius: 10px;
  color: lightgrey;
}

/* ---------- profile ---------- */
.profile__content {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.profile__title {
  color: var(--first-blue);
  font-size: var(--medium-font-size);
  border-bottom: 1px solid var(--first-blue);
  margin-bottom: 2rem;
}

.profile__info {
  display: flex;
  gap: 2rem;
}

.profile__info-section {
  width: 50%;
  position: relative;;
}

.profile__input-label {
  display: block;
  font-size: var(--medium-font-size);
  color: var(--first-blue);
  margin-bottom: 0.5rem;
}

.profile__input-field {
  display: flex;
  width: 100%;
  height: 52px;
  font-size: var(--small-font-size);
  padding: 0 1rem;
  border-radius: 10px;
  border: 1px solid var(--first-blue);
  align-items: center;
}

.profile__input-btn {
  display: block;
  height: 52px;
  font-size: var(--small-font-size);
  background: linear-gradient(135deg, var(--first-blue) 40%, var(--secondary-blue));
  color: white;
  border-radius: 10px;
  line-height: 52px;
  width: 25%;
  margin-left: -1rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
}

.profile__input-btn:hover {
  background: var(--secondary-blue);
}

.profile__input-cancel {
  display: block;
  height: 52px;
  font-size: var(--small-font-size);
  background: white;
  color: var(--first-blue);
  border: 1px solid var(--first-blue);
  border-radius: 10px;
  line-height: 52px;
  width: 25%;
  margin-left: -1rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 150px;
}

.profile__notif {
  color: green;
}

/* * {
  outline: 1px solid red;
} */